@font-face {
  font-family: DingTalkJinBuTi;
  src: url("docs/style/font/DingTalkJinBuTi.ttf") format("TrueType");
}

html:root {
  --el-color-primary: #a8b1ff;
  --el-color-primary-light-3: #bdc4fc;
  --el-color-primary-light-5: #cdd2fa;
  --el-color-primary-light-7: #d3d7f8;
  --el-color-primary-light-8: #e2e4fc;
  --el-color-primary-light-9: #e9eafa;
  --el-color-primary-dark-2: #6068a8;
  --vp-font-family-base: DingTalkJinBuTi, "Chinese Quotes", "Inter var", "Inter",
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Helvetica, Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --them-scrollbar-width: 6px;
  --them-scrollbar-color: #f2f2f2;
  --them-scrollbar-thumb-color: #c0c0c0;
  --them-scrollbar-track-color: #f2f2f2;
  --them-scrollbar-thumb-hover-color: #a0a0a0;
  --jk-color-purple: #ffa2c8;
  --jk-color-blue: #6fcacd;
  --jk-color-yellow: #ffd059;
  --em-color: #ce4ecd;
  --strong-color: #30c19b;
}

html.dark {
  --el-color-primary: #a8b1ff;
  --el-color-primary-light-3: #bdc4fc;
  --el-color-primary-light-5: #cdd2fa;
  --el-color-primary-light-7: #d3d7f8;
  --el-color-primary-light-8: #e2e4fc;
  --el-color-primary-light-9: #2c2d30;
  --el-color-primary-dark-2: #6068a8;
  --them-scrollbar-width: 6px;
  --them-scrollbar-color: #787878;
  --them-scrollbar-track-color: #787878;
  --them-scrollbar-thumb-color: #484848;
  --them-scrollbar-thumb-hover-color: #383838;
  --jk-color-purple: #c8638c;
  --jk-color-blue: #2e9fa2;
  --jk-color-yellow: #af8d35;
  --em-color: #d592e2;
  --strong-color: #37cac5;
}

/* 加粗 */
strong {
  color: var(--strong-color);
}

/* 斜体 */
em {
  color: var(--em-color);
}

.pointer {
  cursor: pointer;
}

/* Webkit 浏览器（如 Chrome、Safari） */
::-webkit-scrollbar {
  width: var(--them-scrollbar-width);
}

::-webkit-scrollbar-thumb {
  background-color: var(--them-scrollbar-thumb-color);
  border-radius: calc(var(--them-scrollbar-width) / 2);
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--them-scrollbar-thumb-hover-color);
}

::-webkit-scrollbar-track {
  background-color: var(--them-scrollbar-track-color);
}

/* Firefox */
/* 注意：Firefox 需要使用 scrollbar-width 属性来控制滚动条的宽度 */
/* 这里使用 ::-moz-scrollbar 和 scrollbar-width 属性来定义样式 */
/* scrollbar-color 属性用于设置滑块的颜色，只在 Firefox 64 及更高版本中支持 */
/* 对于较旧的 Firefox 版本，可以使用 -moz-appearance 和 background-color 属性来设置滚动条样式 */
/* 你可以根据需要调整这些属性的值 */
/* 更多信息请参考 Firefox 官方文档：https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scrollbars */
* {
  /* scrollbar-width: thin; */
}

/* Edge 和 IE */
/* 注意：Edge 和 IE 浏览器需要使用 -ms- 前缀来设置滚动条样式 */
/* 更多信息请参考 Microsoft 官方文档：https://docs.microsoft.com/en-us/windows/win32/controls/how-to-create-custom-scroll-bars */
/* 以下样式仅为示例，请根据需要进行调整 */
/* 如果需要更精确的控制，可以使用 JavaScript 来创建自定义滚动条 */
/* 不过请注意，某些版本的 IE 并不支持自定义滚动条样式 */
*::-ms-scrollbar {
  width: var(--them-scrollbar-width);
  background-color: var(--them-scrollbar-color);
}

*::-ms-scrollbar-thumb {
  background-color: var(--them-scrollbar-thumb-color);
  border-radius: calc(var(--them-scrollbar-width) / 2);
}

*::-ms-scrollbar-thumb:hover {
  background-color: var(--them-scrollbar-thumb-hover-color);
}

*::-ms-scrollbar-track {
  background-color: var(--them-scrollbar-track-color);
}
