input:focus {
  background-color: #c68323;
}

.radio-item {
  cursor: pointer;
}

.radio-item .radio {
  width: 12px;
  height: 12px;
  border: 1px solid #999;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
}

.radio-item input:checked + .radio {
  border-color: #d3286a;
}

.radio-item input:checked ~ span {
  color: #d3286a;
}

.radio-item input:checked + .radio::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background: #d3286a;
  margin-left: 2.5px;
  margin-top: 3px;
  border-radius: 50%;
}

.radio-item input[type="radio"] {
  display: none;
}
