.color-tip {
  color: var(--vp-c-green-light);
  font-weight: bold;
}
.color-info {
  color: var(--vp-c-text-2);
  font-weight: bold;
}
.color-warning {
  color: var(--vp-c-yellow-light);
  font-weight: bold;
}
.color-danger {
  color: var(--vp-c-red-light);
  font-weight: bold;
}

input {
  background-color: rgba(0, 0, 0, 0.3);
}

em {
  color: var(--vp-c-yellow-light);
  font-weight: bold;
}
