.color-success {
  color: #10b981;
  font-weight: bold;
}
.color-info {
  color: #0383ae;
  font-weight: bold;
}
.color-warn {
  color: #e69b02;
  font-weight: bold;
}
.color-error {
  color: #f43f5e;
  font-weight: bold;
}

input {
  background-color: rgba(0, 0, 0, 0.3);
}
